.aboutExamAcademy {
  display: flex;
	left: 0;
	height: 630px;
  justify-content: space-between;
  align-items: center;
	background-color: #f8fbff; 
	/* background: linear-gradient(90deg, rgba(156, 206, 239, 0.974) 0%, rgb(176, 207, 234) 0%, rgba(196,234,255,1) 19%, rgb(255, 255, 255) 59%, rgb(124, 181, 224) 91%); */
  color: rgb(0, 0, 0);
  /* background: linear-gradient(90deg, rgba(135, 192, 231, 0.974) 0%, rgb(147, 183, 214) 0%, rgba(196,234,255,1) 19%, rgb(227, 242, 251) 59%, rgb(97, 177, 238) 91%); */
}

.textPart {
	flex-direction: column;
}

.miniTitle {
	font-size: 40px;
	margin-top: 130px;
	margin-left: 7%;
	margin-bottom: 5%;;
	color: rgb(21, 59, 89);
	text-shadow: 2px 4px 3px rgb(255, 255, 255);
}

.text {
  flex: 1;
	text-align: left;
	margin-bottom: 45px;
	margin-right: 30px;
	margin-left: 60px;
	font-size: 20px;
}

.mainPage {
	width: 50%;
	height: 100%;
	margin-top: 190px;
	object-fit: cover;
}